.footer {
  margin-top: 60px;
  background: #ffffff;
  position: relative;
}

.footer__wave {
  width: 100%;
  overflow: hidden;
  height: 80px;
}

.footer__wave svg {
  width: 100%;
  height: 100%;
}

.footer__content {
  padding: 30px 20px;
  text-align: center;
  background: #003C88;
  color: white;
  font-size: 14px;
  line-height: 1.7;
}
